

// Utitlities

@import "../../../Scss-Utilities/Utilities.scss";

// -------------------- Editor Page - Mobile - Layout -------------------- //

.mobile {
    &.default {

        // Editor Page

        .editor-page {
            margin-top          : 4.5rem;

            > .container-fluid {
                @include py-0;

                > .row {
                    @include height-100;
                }
            }

            // Content

            .wrapper-content {
                @include col-12;

                @include py-5;

                background-color        : $c-grey-light;

                > .row {
                    @include height-auto;

                    @include align-items-center;
                }

                // Print

                .print {
                    @include col-11;

                    @include mx-auto;

                    .print-image {
                        @include col-12;

                        @include mb-4;

                        .image {
                            @include col-12;

                            img {
                                @include overflow-hidden;

                                border-radius       : 2.5em;
                            }
                        }
                    }

                    .print-text {
                        @include col-12;

                        @include text-align-center;

                        .caption {
                            @include col-12;
                        }
                    }
                }
            }

            // Sidebar

            .wrapper-sidebar {
                @include col-12;

                @include px-0;

                background-color        : $c-white;

                // Design

                .design {
                    @include col-12;

                    @include py-5;
                    @include px-4;

                    .col-inner {
                        &.font {
                            @include col-12;

                            @include mb-4;

                            > .row {
                                @include align-items-flex-end;
                            }

                            .font-box {
                                @include col-12;

                                max-width       : 75%;

                                .caption {
                                    @include col-12;
                                }

                                .box {
                                    @include col-12;

                                    @include pr-0;
                                }
                            }

                            .button {
                                @include col-12;

                                max-width       : 25%;
                            }
                        }

                        &.text {
                            @include col-12;

                            @include mb-3;

                            .text-box {
                                @include col-12;

                                .caption {
                                    @include col-12;
                                }

                                .box {
                                    @include col-12;
                                }
                            }
                        }

                        &.action {
                            @include col-12;

                            @include mb-5;

                            .action-icon {
                                @include col-12;

                                @include display-flex;

                                .icon {
                                    @include mx-3;

                                    &:first-child {
                                        @include ml-0;
                                    }

                                    &:last-child {
                                        @include mr-0;
                                    }
                                }
                            }
                        }

                        &.appearance {
                            @include col-12;

                            .appearance-color {
                                @include col-12;

                                .caption {
                                    @include col-12;
                                }

                                .color-variant {
                                    @include col-12;
                                }
                            }
                        }
                    }
                }

                // Upload Photo

                .upload-photo {
                    @include col-12;

                    @include py-5;
                    @include px-4;

                    .upload {
                        @include col-12;

                        .upload-button {
                            @include col-10;

                            @include mb-5;
                            @include mx-auto;

                            .button {
                                @include col-12;
                            }
                        }

                        .upload-image {
                            @include col-12;

                            .image {
                                @include col-6;

                                @include px-1;
                                @include mb-2;
                            }
                        }
                    }
                }
            }
        }
    }
}

