

// -------------------- Transform -------------------- //

$text-transform-capitalize     : capitalize;
$text-transform-full-width     : full-width;
$text-transform-fullsize-kana  : fullsize-kana;
$text-transform-lowercase      : lowercase;
$text-transform-none           : none;
$text-transform-uppercase      : uppercase;
