

// -------------------- Decoration -------------------- //

$text-decoraction-dashed       : dashed;
$text-decoraction-dotted       : dotted;
$text-decoraction-double       : double;
$text-decoraction-line-through : line-through;
$text-decoraction-none         : none;
$text-decoraction-overline     : overline;
$text-decoraction-solid        : solid;
$text-decoraction-underline    : underline;
$text-decoraction-wavy         : wavy;