

// -------------------- Spacing -------------------- //

$letter-spacing-normal         : 0.025em;
$letter-spacing-wide           : 0.5em;

$letter-spacing-sm             : 0.10em;
$letter-spacing-md             : 0.20em;