.desktop.default .editor-page > .container-fluid {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important; }
  .desktop.default .editor-page > .container-fluid > .row {
    height: 100% !important; }

.desktop.default .editor-page .wrapper-content {
  position: relative;
  width: 100%;
  min-height: 1%;
  padding: 0rem 1rem 0rem 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  background-color: #F7F7F7; }
  .desktop.default .editor-page .wrapper-content > .row {
    height: 100% !important;
    align-items: center; }
  .desktop.default .editor-page .wrapper-content .print {
    position: relative;
    width: 100%;
    min-height: 1%;
    padding: 0rem 1rem 0rem 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    margin-left: auto !important;
    margin-right: auto !important; }
    .desktop.default .editor-page .wrapper-content .print .print-image {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 1.5rem !important; }
      .desktop.default .editor-page .wrapper-content .print .print-image .image {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; }
        .desktop.default .editor-page .wrapper-content .print .print-image .image img {
          overflow: hidden;
          border-radius: 2.5em; }
    .desktop.default .editor-page .wrapper-content .print .print-text {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center; }
      .desktop.default .editor-page .wrapper-content .print .print-text .caption {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; }

.desktop.default .editor-page .wrapper-sidebar {
  position: relative;
  width: 100%;
  min-height: 1%;
  padding: 0rem 1rem 0rem 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  background-color: #ffffff;
  box-shadow: -15px 0px 35px 0px rgba(0, 0, 0, 0.035); }
  .desktop.default .editor-page .wrapper-sidebar .design {
    position: relative;
    width: 100%;
    min-height: 1%;
    padding: 0rem 1rem 0rem 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2.5rem 3.5rem; }
    .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 1.5rem !important; }
      .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font > .row {
        align-items: flex-end; }
      .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font .font-box {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        max-width: 77.5%; }
        .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font .font-box .caption {
          position: relative;
          width: 100%;
          min-height: 1%;
          padding: 0rem 1rem 0rem 1rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%; }
        .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font .font-box .box {
          position: relative;
          width: 100%;
          min-height: 1%;
          padding: 0rem 1rem 0rem 1rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding-right: 0rem !important; }
      .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font .button {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        max-width: 22.5%; }
    .desktop.default .editor-page .wrapper-sidebar .design .col-inner.text {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 1rem !important; }
      .desktop.default .editor-page .wrapper-sidebar .design .col-inner.text .text-box {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; }
        .desktop.default .editor-page .wrapper-sidebar .design .col-inner.text .text-box .caption {
          position: relative;
          width: 100%;
          min-height: 1%;
          padding: 0rem 1rem 0rem 1rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%; }
        .desktop.default .editor-page .wrapper-sidebar .design .col-inner.text .text-box .box {
          position: relative;
          width: 100%;
          min-height: 1%;
          padding: 0rem 1rem 0rem 1rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%; }
    .desktop.default .editor-page .wrapper-sidebar .design .col-inner.action {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 2.5rem !important; }
      .desktop.default .editor-page .wrapper-sidebar .design .col-inner.action .action-icon {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex; }
        .desktop.default .editor-page .wrapper-sidebar .design .col-inner.action .action-icon .icon {
          margin-left: 1rem !important;
          margin-right: 1rem !important; }
          .desktop.default .editor-page .wrapper-sidebar .design .col-inner.action .action-icon .icon:first-child {
            margin-left: 0rem !important; }
          .desktop.default .editor-page .wrapper-sidebar .design .col-inner.action .action-icon .icon:last-child {
            margin-right: 0rem !important; }
    .desktop.default .editor-page .wrapper-sidebar .design .col-inner.appearance {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      .desktop.default .editor-page .wrapper-sidebar .design .col-inner.appearance .appearance-color {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; }
        .desktop.default .editor-page .wrapper-sidebar .design .col-inner.appearance .appearance-color .caption {
          position: relative;
          width: 100%;
          min-height: 1%;
          padding: 0rem 1rem 0rem 1rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%; }
        .desktop.default .editor-page .wrapper-sidebar .design .col-inner.appearance .appearance-color .color-variant {
          position: relative;
          width: 100%;
          min-height: 1%;
          padding: 0rem 1rem 0rem 1rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%; }
  .desktop.default .editor-page .wrapper-sidebar .upload-photo {
    position: relative;
    width: 100%;
    min-height: 1%;
    padding: 0rem 1rem 0rem 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2.5rem 3.5rem; }
    .desktop.default .editor-page .wrapper-sidebar .upload-photo .upload {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      .desktop.default .editor-page .wrapper-sidebar .upload-photo .upload .upload-button {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        margin-bottom: 2.5rem !important;
        margin-left: auto !important;
        margin-right: auto !important; }
        .desktop.default .editor-page .wrapper-sidebar .upload-photo .upload .upload-button .button {
          position: relative;
          width: 100%;
          min-height: 1%;
          padding: 0rem 1rem 0rem 1rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%; }
      .desktop.default .editor-page .wrapper-sidebar .upload-photo .upload .upload-image {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; }
        .desktop.default .editor-page .wrapper-sidebar .upload-photo .upload .upload-image .image {
          position: relative;
          width: 100%;
          min-height: 1%;
          padding: 0rem 1rem 0rem 1rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
          max-width: 33.33333%;
          padding-left: 0.50rem !important;
          padding-right: 0.50rem !important;
          margin-bottom: 1rem !important; }

@media (max-width: 991.98px) {
  .desktop.default .editor-page .wrapper-content {
    position: relative;
    width: 100%;
    min-height: 1%;
    padding: 0rem 1rem 0rem 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
    .desktop.default .editor-page .wrapper-content .print {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
      .desktop.default .editor-page .wrapper-content .print .print-image {
        margin-bottom: 1rem !important; }
        .desktop.default .editor-page .wrapper-content .print .print-image .image img {
          border-radius: 1.5em; }
  .desktop.default .editor-page .wrapper-sidebar {
    position: relative;
    width: 100%;
    min-height: 1%;
    padding: 0rem 1rem 0rem 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
    .desktop.default .editor-page .wrapper-sidebar .design {
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important; }
      .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font .font-box {
        max-width: 70%; }
      .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font .button {
        max-width: 30%; }
      .desktop.default .editor-page .wrapper-sidebar .design .col-inner.action .action-icon .icon {
        margin-left: 0.50rem !important;
        margin-right: 0.50rem !important; }
    .desktop.default .editor-page .wrapper-sidebar .upload-photo {
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important; }
      .desktop.default .editor-page .wrapper-sidebar .upload-photo .upload .upload-button {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0rem !important;
        margin-right: 0rem !important; }
      .desktop.default .editor-page .wrapper-sidebar .upload-photo .upload .upload-image .image {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
        margin-bottom: 0.50rem !important; } }

@media (max-width: 767.98px) {
  .desktop.default .editor-page {
    margin-top: 4.5rem; }
    .desktop.default .editor-page .wrapper-content {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 2.5rem !important;
      padding-bottom: 2.5rem !important; }
      .desktop.default .editor-page .wrapper-content > .row {
        height: auto !important; }
      .desktop.default .editor-page .wrapper-content .print {
        position: relative;
        width: 100%;
        min-height: 1%;
        padding: 0rem 1rem 0rem 1rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%; }
    .desktop.default .editor-page .wrapper-sidebar {
      position: relative;
      width: 100%;
      min-height: 1%;
      padding: 0rem 1rem 0rem 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      .desktop.default .editor-page .wrapper-sidebar .design {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important; }
        .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font .font-box {
          max-width: 75%; }
        .desktop.default .editor-page .wrapper-sidebar .design .col-inner.font .button {
          max-width: 25%; }
      .desktop.default .editor-page .wrapper-sidebar .upload-photo {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important; }
        .desktop.default .editor-page .wrapper-sidebar .upload-photo .upload .upload-button {
          position: relative;
          width: 100%;
          min-height: 1%;
          padding: 0rem 1rem 0rem 1rem;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
          max-width: 83.33333%;
          margin-left: auto !important;
          margin-right: auto !important; } }
