

// -------------------- Color Variable -------------------- //

// ---------- Color Theme

$c-primary              : #0F83FF;
$c-secondary            : #005FDC;
$c-tertiary             : #2ED692;
$c-quarter              : #EF4B3E;

// ---------- Color Base

$c-black                : #323232;

$c-grey-super-light     : #F4F4F9;
$c-grey-light           : #ededed;
$c-grey                 : #B0B6BB;

$c-white                : #ffffff;

$c-green                : #8BC24A;

$c-orange               : #FF8E32;
$c-orange-dark          : #FF7200;

$c-red-super-light      : #fff7f6;
$c-red-light            : #fe9890;
$c-red                  : #EF4B3E;

// -------------------- Color Palette -------------------- //

$color-theme: (
     primary: (
        'normal'        : $c-primary,
        'darken'        : darken($c-primary, 10%),
        'lighten'       : lighten($c-primary, 10%),
     ),

     secondary: (
        'normal'        : $c-secondary,
        'darken'        : darken($c-secondary, 10%),
        'lighten'       : lighten($c-secondary, 10%),
     ),

     tertiary: (
        'normal'        : $c-tertiary,
        'darken'        : darken($c-tertiary, 10%),
        'lighten'       : lighten($c-tertiary, 10%),
     ),

     quarter: (
        'normal'        : $c-quarter,
        'darken'        : darken($c-quarter, 10%),
        'lighten'       : lighten($c-quarter, 10%),
     ),
);

// -------------------- Color Template -------------------- //

// ----- Primary

$c-primary-normal              : map-deep-get($color-theme, primary, 'normal');
$c-primary-darken              : map-deep-get($color-theme, primary, 'darken');
$c-primary-lighten             : map-deep-get($color-theme, primary, 'lighten');

// ----- Secondary

$c-secondary-normal            : map-deep-get($color-theme, secondary, 'normal');
$c-secondary-darken            : map-deep-get($color-theme, secondary, 'darken');
$c-secondary-lighten           : map-deep-get($color-theme, secondary, 'lighten');

// ----- Tertiary

$c-tertiary-normal             : map-deep-get($color-theme, tertiary, 'normal');
$c-tertiary-darken             : map-deep-get($color-theme, tertiary, 'darken');
$c-tertiary-lighten            : map-deep-get($color-theme, tertiary, 'lighten');

// ----- Quarter

$c-quarter-normal              : map-deep-get($color-theme, quarter, 'normal');
$c-quarter-darken              : map-deep-get($color-theme, quarter, 'darken');
$c-quarter-lighten             : map-deep-get($color-theme, quarter, 'lighten');