

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Mobile - Navbar -------------------- //

.mobile {
    &.default {

        // Navbar

        .navbar {
            @include position-fixed;

            @include width-100;

            z-index                 : 1020;

            top                     : 0;
            left                    : 0;

            box-shadow              : 0px 10px 15px 0px rgba(0,0,0,0.0);

            transition              : 0.5s ease;

            &.scroll {
                background-color    : $c-white;

                box-shadow          : 0px 10px 15px 0px rgba(0,0,0,0.035);

                transition          : 0.5s ease;
            }

            .navbar-brand {
                @include py-0;
                @include mx-auto;

                max-width           : 14.5rem;
            }
        }
    }
}

