

// -------------------- Line Clamp -------------------- //

$line-clamp-1                   : 1;
$line-clamp-2                   : 2;
$line-clamp-3                   : 3;
$line-clamp-4                   : 4;