

// -------------------- Position -------------------- //

$position-absolute              : absolute;
$position-center                : center;
$position-fixed                 : fixed;
$position-page                  : page;
$position-relative              : relative;
$position-static                : static;
$position-sticky                : sticky;
$position-unset                 : unset;