

// -------------------- Color Variable -------------------- //

// ---------- Color Theme

$c-primary              : #1B194E;
$c-secondary            : #595CD4;
$c-tertiary             : #2ED692;

// ---------- Color Base

$c-black                : #323232;

$c-grey-light           : #F7F7F7;
$c-grey                 : #B0B5B9;

$c-white                : #ffffff;

$c-green                : #8BC24A;

$c-red                  : #EF4B3E;

// -------------------- Color Palette -------------------- //

$color-theme: (
     primary: (
        'normal'        : $c-primary,
        'darken'        : darken($c-primary, 10%),
        'lighten'       : lighten($c-primary, 10%),
     ),

     secondary: (
        'normal'        : $c-secondary,
        'darken'        : darken($c-secondary, 10%),
        'lighten'       : lighten($c-secondary, 10%),
     ),

     tertiary: (
        'normal'        : $c-tertiary,
        'darken'        : darken($c-tertiary, 10%),
        'lighten'       : lighten($c-tertiary, 10%),
     ),
);

// -------------------- Color Template -------------------- //

// ----- Primary

$c-primary-normal              : map-deep-get($color-theme, primary, 'normal');
$c-primary-darken              : map-deep-get($color-theme, primary, 'darken');
$c-primary-lighten             : map-deep-get($color-theme, primary, 'lighten');

// ----- Secondary

$c-secondary-normal            : map-deep-get($color-theme, secondary, 'normal');
$c-secondary-darken            : map-deep-get($color-theme, secondary, 'darken');
$c-secondary-lighten           : map-deep-get($color-theme, secondary, 'lighten');

// ----- Tertiary

$c-tertiary-normal             : map-deep-get($color-theme, tertiary, 'normal');
$c-tertiary-darken             : map-deep-get($color-theme, tertiary, 'darken');
$c-tertiary-lighten            : map-deep-get($color-theme, tertiary, 'lighten');