

// -------------------- Overflow -------------------- //

$overflow-auto                  : auto;
$overflow-hidden                : hidden;
$overflow-no-content            : no-content;
$overflow-no-display            : no-display;
$overflow-scroll                : scroll;
$overflow-visible               : visible;

// -------------------- Text Overflow -------------------- //

$text-overflow-ellipsis         : ellipsis;
$text-overflow-clip             : clip;
