

// -------------------- White Space -------------------- //

$white-space-normal             : normal;
$white-space-nowrap             : nowrap;
$white-space-pre                : pre;
$white-space-pre-line           : pre-line;
$white-space-pre-wrap           : pre-wrap;