

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Desktop - General -------------------- //

// Html

html {
    scroll-behavior: smooth;
}

// Body

body {
    @include overflow-x-hidden;

    @include pr-0;

    background-color    : $c-white;

    transition          : 0.5s ease;

    .page {
        @include position-relative;

        width           : 85%;

        left            : 15%;
    }
}

// Image

img {
    width               : 100%;
}

// Anchor

a {
    transition          : all 0.5s ease;

    &:hover &:focus, &:active {
        transition      : all 0.5s ease;
    }
}

// Grid

.container {
    padding-top         : 3.5rem;
    padding-bottom      : 3.5rem;
}

.container-fluid {
    padding-top         : 3.5rem;
    padding-bottom      : 3.5rem;
}

// Typography

p {
    @include mb-0;
}


